@import 'variables';

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color: $primary-color;
  font-family: $primary-font;
  background: $color-white;
}

.center {
  text-align: center;
}
